.container {
	position: absolute;
	top: 45px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	height: auto;
	background-color: #4a0001;
}

#outerImageDiv {
	padding: 10px;
	margin-left: -100px;
	opacity: 0.0;
	border-width: 2px;
	border-style: solid;
	border-color: #c7cfdd;
	background-color: #4a0001;
	height: 300px;
}

#innerImageDiv {
	background-color: #4a0001;
	height: 100%;
}

#profileImage {
	width: 100%;
	height: 100%;
}

.info {
	opacity: 0.0;
	height: 300px;
}

p {
	color: #c7cfdd;
	font-size: 10px;
}

h4, h3, h2, h1 {
	padding: 10px;
	font-family: 'Syncopate', sans-serif;
	color: #c7cfdd;
}

.myButton {
	position: absolute;
	bottom: 2px;
	background-color: #f9b756;
	color: #4a0001;
	border-color: #c7cfdd;
	font-family: 'Syncopate', sans-serif;
	font-size: 12px;
}

.myButton:hover {
	background-color: #f1e495;
}

.myButton:focus {
	background-color: #f1e495;
	border-color: #c7cfdd;
}

.myButton:active {
	background-color: #f35818;
}

#table {
	font-family: 'Syncopate', sans-serif;
	font-size: 10px;
}

#outerResumeDiv {
	margin-top: 100px;
	opacity: 0.0;
	padding: 10px;
	padding-bottom: 0px;
	border-width: 2px;
	margin-bottom: 40px;
	border-style: solid;
	border-color: #c7cfdd;
	background-color: #4a0001;
}

#innerResumeDiv {
	background-color: #c7cfdd;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #f9f9f9;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
	background-color: #c7cfdd;
}

.navicon {
	padding: 10px 80px 10px 80px;
	font-size: 55px;
}

#infoRowSmall {
	display: none;
}

@media (max-width : 992px) {
	#resumeContainer {
		position: absolute;
		width: 100%;
		top: 100px;
	}
	#outerImageDiv {
		display: none;
	}
	#outerResumeDiv {
		margin-bottom: 100px;
	}
	#infoRowLarge {
		display: none;
	}
	#infoRowSmall {
		display: inline;
	}
	h1, h2, p {
		text-align: center;
	}
	p {
		font-size: 20px;
	}
	.myButton {
		position: relative;
		width: 100%;
		font-size: 24px;
		vertical-align: middle;
	}
}

@media (max-width : 1200px) {
	#outerImageDiv {
		height: 250px;
	}
	.info {
		height: 250px;
	}
	td {
		font-size: 20px;
	}
}